{% extends "pokedex/inicio.html" %}

{% load static %}

{% block formulario %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Ingresar Entrenador</h4>
            <form action="/pokedex/entrenador/" method="POST">{% csrf_token %}
                <!-- MODEL FORM -->
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ash" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" id="edad" name="edad">
                </div>
                

                <button class="btn btn-primary" type="submit" value="Enviar">Enviar</button>
            </form>
        </div>
        <div class="col">
            <h4>Buscar Por:</h4>
            <form action="/pokedex/buscarEntrenador/" method="GET">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ash" name="nombre">
                </div>
                <button class="btn btn-primary" type="submit" value="Buscar">Buscar</button>
            </form>
            {% if entrenadores %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrenador in entrenadores %}
                    <tr>
                        <td scope="row">{{ entrenador.0 }}</td>
                        <td>{{ entrenador.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}