{% extends "pokedex/inicio.html" %}

{% load static %}

{% block formulario %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Ingresar Pokeball</h4>
            <form action="/pokedex/pokeball/" method="POST">{% csrf_token %}
                <!-- MODEL FORM -->
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="UltraBall" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input maxlength="200" type="text" class="form-control" id="descripcion" name="descripcion">
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <input type="text" class="form-control" id="color" name="color">
                </div>

                <button class="btn btn-primary" type="submit" value="Enviar">Enviar</button>
            </form>
        </div>
        <div class="col">
            <h4>Buscar Por:</h4>
            <form action="/pokedex/buscarPokeball/" method="GET">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="UltraBall" name="nombre">
                </div>
                <button class="btn btn-primary" type="submit" value="Buscar">Buscar</button>
            </form>
            {% if pokeballs %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pokeball in pokeballs %}
                    <tr>
                        <td scope="row">{{ pokeball.0 }}</td>
                        <td>{{ pokeball.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}